<% content_for :title, "Editing event" %>

<%= render "form", event: @event %>

<br>

<div class="card-footer d-flex justify-content-between">
  <%= link_to "Voltar", events_path, class: "btn btn-secondary" %>
</div>
