<h1><% t "view.events.form.edit" %></h1>

<%= render "form", event: @event %>

<br>

<div class="card-footer d-flex justify-content-between">
  <%= link_to "Voltar", events_path, class: "btn btn-secondary" %>
</div>
