<div class="card">
  <div id="<%= dom_id category %>">
    <p>
      <strong>Name:</strong>
      <%= category.name %>
    </p>

    <p>
      <strong>Indentifier:</strong>
      <%= category.indentifier %>
    </p>

  </div>
</div>