<% content_for :title, "Editing category" %>

<h1>Editar Categoria</h1>

<%= render "form", category: @category %>

<br>

<div class="card-footer d-flex justify-content-between">
  <%= link_to "Voltar", categories_path, class: "btn btn-secondary" %>
</div>
