<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>
<%= link_to "Nova", new_category_path, class: "btn btn-primary" %>
<div class="w-100 d-flex flex-column gap-3">
  <h6 class="flex-grow-1">Categorias</h6>

  <div id="categories">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>
</div>
