<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>
<div class="card-footer d-flex justify-content-between">
  <h4 class="flex-grow-1">Categorias</h4>
  <%= link_to "Nova Categoria", new_category_path, class: "btn btn-primary" %>
</div>

<div class="w-100 d-flex flex-column gap-3">
  <div id="categories">
    <% @categories.each do |category| %>
      <%= render category %>
      <br>
    <% end %>
  </div>
</div>
